language: android
jdk:
    - oraclejdk8
sudo: false
android:
    components:
        - tools
        - build-tools-28.0.3
        - android-28
        - extra-android-m2repository
script:
    - cd Pdf417MobiSample
    - ./gradlew clean assembleRelease